{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}
{% raw xsrf_form_html() %}

<script>
function message_get(title,msg,type){
    $.get('message_popup?msg=' + msg + '&title=' + title + '&type=' + type,function(page){
        $("#message_window").html(page);
        $("#message_window").modal("show");
        });
}

function message_post(title,msg,type){
    var xsrf = $("[name='_xsrf']").val();
    $.post('message_popup', { msg: msg, title: title, type: type, _xsrf: xsrf }, function(page){
        $("#message_window").html(page);
        $("#message_window").modal("show");
    });
}
</script>

<div class="row">

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Commands</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
            Bismuth Blockchain:<br/>
            <form method="get">
            <input type="submit" class="btn btn-info" name="button1" value="Show Latest Account Transactions">
            <br/>
            Hypernodes:<br/>
            <input type="submit" class="btn btn-info" name="button2" value="Show Hypernodes">
            <br/>
            <br/>
            Message:<br/>
            Enter your message here: <input type="text" class="form-control" id="mytext" name="mytext">&nbsp;&nbsp;
            </form>
            <br/>
            <input type="submit" class="btn btn-info" name="button3" value="Submit (Get)" onclick="message_get('Hellow World Message!',$('#mytext').val(),'warning');">&nbsp;&nbsp;
            <input type="submit" class="btn btn-info" name="button4" value="Submit (Post)" onclick="message_post('Hello World Message!',$('#mytext').val(),'info');">
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Output</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
            <table>
            <tr><td>Block Height</td><td>Amount</td><td>Recipient</td><td>Timestamp</td></tr>
            {% for item in data['txs'] %}
                {% block item %}
                <tr><td>{{ item['block_height'] }}</td><td>{{ item['amount'] }}</td><td>{{ item['recipient'] }}</td><td>{{ datetime.datetime.utcfromtimestamp(item['timestamp']).strftime('%Y-%m-%d %H:%M:%S') }}</td></tr>
                {% end %}
            {% end %}
            </table>
            <br/>
            <table>
            <tr><td>IP Address</td><td>Height</td></tr>
            {% for key,value in data['hns'].items() %}
                {% block key %}
                <tr><td>{{ key }}
                    </td>
                    {% if value == -1 %}
                       <td><font color="red">Inactive</font></td>
                    {% else %}
                       <td>{{ value }}</td>
                    {% end %}
                    </tr>
                {% end %}
            {% end %}
            </table>
            </div>
        </div>
    </div>

    <div id="message_window" class="modal" tabindex="-1" role="dialog"></div>
    </div>

</div>

<br/>

{% end %}
