{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}
{% raw xsrf_form_html() %}

<script>
function message_get(title,msg,type){
    $.get('message_popup?msg=' + msg + '&title=' + title + '&type=' + type,function(page){
        $("#message_window").html(page);
        $("#message_window").modal("show");
        });
}

function message_post(title,msg,type){
    var xsrf = $("[name='_xsrf']").val();
    $.post('message_popup', { msg: msg, title: title, type: type, _xsrf: xsrf }, function(page){
        $("#message_window").html(page);
        $("#message_window").modal("show");
    });
}
</script>






<div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">BIS (Native Bismuth) to wBIS (ETH) 2/2</h4>
                </div>
            </div>
            <div class="card-body table-responsive">
                <ul>
                    <li>You have sent native BIS to the bridge address</li>
                    <li>You have the signed auth</li>
                    <li>All data should be prefilled if you come from the <a href="//crystal/ethbridge/swaps">"Swaps"</a> page, every item needs to be fully exact or the transaction will fail.</li>
                    <li>Connect Metamask, on ETH Mainnet chain</li>
                    <li>Check all mint params</li>
                    <li>Mint your wBIS ERC-20</li>
                </ul>
                <br />
                <b style="color:orange;">Please read the manual! See <a href="https://hypernodes.bismuth.live/?p=2818" style="color:orange;text-decoration:underline;" target="_blank">Blog post</a></b>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-success">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">Mint wBIS (ETH)</h4>
                </div>
            </div>
            <div class="card-body table-responsive">

                    <div class="form-group">
                        <label class="bmd-label-floating">{{ _("Recipient (ETH address)")}}</label>
                        <input class="form-control" id="mint_recipient" type="text" name="mint_recipient" value="{{ mint['eth_address']}}"/>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="bmd-label-floating">{{ _("Amount (wBIS to mint) - Min 10")}}</label>
                        <input class="form-control" id="mint_amount" type="number" name="mint_amount" value="{{ mint['amount']}}"/>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="bmd-label-floating">{{ _("Native BIS Transaction id Hash")}}</label>
                        <input class="form-control" id="mint_tx" type="text" name="mint_tx" value="{{ mint['txidhash']}}"/>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="bmd-label-floating">{{ _("Auth (signed by the bridge)")}}</label>
                        <input class="form-control" id="mint_auth" type="text" name="mint_auth" value="{{ mint['auth']}}"/>
                    </div>

                        Do not mess with prefilled params above. Params get auto-filled when coming from "Transactions" page.<br />
                &nbsp;
                <hr />

                    <div class="form-group">
                        <label class="bmd-label-floating">{{ _("Gas price (gwei)")}}</label>
                        <input class="form-control" id="gwei" type="number" name="gwei" value="150"/>

                        <small>Gas price will decide if your transaction waits forever or is processed quickly. <br/>
                            150 Gwei is there as default, but you'd better check <a href="https://ethgasstation.info" target="_blank">EthGasStation</a> for the current appropriate price.</small>
                    </div>
                       <button id = "mint" name="mint" type="submit" value="" class="btn btn-success">
                           <i class="material-icons">flare</i> Mint wBIS ERC-20
                       </button>
                       <!-- button id = "test_mint" name="test_mint" type="submit" value="" class="btn btn-info float-right">
                           <i class="material-icons">bug_report</i> Test values
                       </button -->
                <br>

                    <div class="card-footer table-responsive warning" id="mint_result">
                    </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-info">

                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">wBIS (ETH) Balance</h4>
                </div>
            </div>
            <div class="card-body table-responsive">

         <div class="form-group">
                        <label class="bmd-label-floating">{{ _("Your current ETH Address")}}</label>
                        <input class="form-control" id="user_eth_address" type="text" name="user_eth_address" value=" " disabled/>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="bmd-label-floating">{{ _("wBIS Balance")}}</label>
                        <div id="wbis_amount" name="wbis_amount" ></div>
                    </div>
                <br />
                       <button id = "refresh_balance" name="refresh_balance" type="submit" value="" class="btn btn-success">
                           <i class="material-icons">autorenew</i>
                           Refresh balance
                       </button>
            </div>
        </div>
    </div>

</div>


<!-- div class="row">
     <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-info">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">Sign Mint (DEBUG)</h4>
                </div>
            </div>
            <div class="card-body table-responsive">


                       <button id = "sign" name="sign" type="submit" value="" class="btn btn-info">
                           <i class="material-icons">bug_report</i> Sign Mint
                       </button>
                <br>
                    <div class="card-footer table-responsive warning" id="sign_result">
                    </div>
            </div>
        </div>
    </div>
</div -->


{% end %}
