{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}
{% raw xsrf_form_html() %}

<script>
function message_get(title,msg,type){
    $.get('message_popup?msg=' + msg + '&title=' + title + '&type=' + type,function(page){
        $("#message_window").html(page);
        $("#message_window").modal("show");
        });
}

function message_post(title,msg,type){
    var xsrf = $("[name='_xsrf']").val();
    $.post('message_popup', { msg: msg, title: title, type: type, _xsrf: xsrf }, function(page){
        $("#message_window").html(page);
        $("#message_window").modal("show");
    });
}
</script>






<div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">BIS (Native Bismuth) to wBIS (ETH) 1/2</h4>
                </div>
            </div>
            <div class="card-body table-responsive">
                <ul>
                    <li>Send your native $BIS to the ETH bridge address</li>
                    <li>Wait for the Mint transaction to be signed</li>
                    <li>Check the <a href="/crystal/ethbridge/swaps">"Swaps"</a> page for current status.</li>
                </ul>
                <br />
                <b style="color:orange;">Please read the manual! See <a href="https://hypernodes.bismuth.live/?p=2818" style="color:orange;text-decoration:underline;" target="_blank">Blog post</a></b>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-success">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">Send BIS to ETH Bridge</h4>
                </div>
            </div>
            <div class="card-body table-responsive">

                    <div class="form-group">
                        <label class="bmd-label-floating">{{ _("Recipient (ETH address)")}}</label>
                        <input class="form-control" id="mint_recipient" type="text" name="mint_recipient" value="{{ '0x' }}"/>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="bmd-label-floating">{{ _("Amount (BIS to convert) - Min 10")}}</label>
                        <input class="form-control" id="mint_amount" type="number" name="mint_amount" value="{{ 10 }}"/>
                    </div>
                    <br />
                    Send from {{ bismuth['address'] }} <br />to ETH Bridge address {{ bismuth['extra']['ethbridge_address'] }}
                <br /><b><span style="color:red;">Make extra sure the recipient ETH address is the right one. There is no going back!</span></b><br />
                    <!-- button class="btn btn-primary " onclick="send('{{ bismuth['extra']['ethbridge_address'] }}', $('#mint_amount').val(), 'ethbridge:send', $('#mint_recipient').val()); return false;"-->
                    <button class="btn btn-primary " onclick="sendbis($('#mint_recipient').val(), $('#mint_amount').val()); return false;">
                    {{ _("Send BIS")}}...
                    </button>
                <br>
                    <div class="card-footer table-responsive warning" id="mint_result">
                    </div>
            </div>
        </div>
    </div>



</div>

<script>
    function sendbis(recipient, amount) {
        if (amount < 10) {
            alert("Min amount 10 BIS");
            return false;
        }
        if (! /^(0x){1}[0-9a-fA-F]{40}$/i.test(recipient)) {
            alert("Invalid ETH adress");
            return false;
        }
        try {
            address = web3.utils.toChecksumAddress(recipient)
        } catch(e) {
            alert("Invalid ETH adress: " + e.message);
            return false;
        }
        return send('{{ bismuth['extra']['ethbridge_address'] }}', amount, 'ethbridge:send', recipient);
    }
</script>


{% end %}
