<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BitDust</title>
    <!-- <link href="/static/css/reset.css" rel="stylesheet" type="text/css"> -->
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="/static/js/ba-debug.js"></script>
    <script src="/static/js/autoupdater.js"></script> 
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
<div style="width: 790px; margin:0 auto; padding: 0px;">
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>