<!DOCTYPE html>
<html lang="en" {% block extra_html_args %} {% endblock extra_html_args %}>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="BitDust">
<meta name="author" content="Veselin Penev">

<link rel="icon" href="/favicon.ico"> 

<title>BitDust</title>

{% block extra_head_before %}
{% endblock extra_head_before %}

<script src="/asite/js/jquery-1.11.0.min.js"></script>
<!-- <script src="/asite/js/jquery.min.js"></script> -->
<script src="/asite/js/ba-debug.js"></script>
<!-- <script src="/asite/js/autoupdater.js"></script> --> 
<script src="/asite/js/bootstrap.min.js"></script>
<script src="/asite/js/ie10-viewport-bug-workaround.js"></script> 

<link href="/asite/css/bootstrap.css" rel="stylesheet">
    
{% block extra_head %}
{% endblock extra_head %}

</head>

<body>
 
{% block body %}
{% endblock body %}

</body>

</html>