{% extends "topmenu.html" %}


{% block wrappedbody %}
<style>
  .page_content {
    display: none;
  }
</style>
<div class="site-wrapper" style="padding-top: 50px;">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
        </div>
      </div> 
          
      <div class="inner cover">
        <div class="upload-file-input">
            <input type="button" value="Select file" />
        </div>
        <div class="upload-area">
            Drop your files here
        </div>           
      </div>

      <div class="mastfoot">
        <!-- <div class="pull-right">
          <p>&copy; BitDust, 2015&nbsp;&nbsp;&nbsp;</p>
        </div> -->
      </div> 

           
    </div>
  </div>
</div> 
{% endblock wrappedbody %}



