{% extends "base.html" %}


{% block extra_head %}
  {{ block.super }}
  <link href="/asite/css/cover.css" rel="stylesheet">
  <link href="/asite/css/footer.css" rel="stylesheet">
{% endblock extra_head %}


{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      </button>
      <a class="navbar-brand" href="http://bitdust.io" target="_blank">BitDust project</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/friend/">Friends</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/api/restart">Restart</a></li>
        <li><a href="/api/stop">Stop</a></li>
      </ul> 
    </div>
  </div>
</nav>

    
{% block bottombody %}
{% endblock bottombody %}

<!-- 
<div class="container debug_info">
  <pre><code>{{ debug }}</code></pre>  
</div>
-->

{% block wrappedbody %}
{% endblock wrappedbody %}


<div class="footer">
  <div class="pull-right" style="height: 30px; line-height: 30px;">  
    &copy; BitDust, 2015&nbsp;&nbsp;&nbsp;
  </div>
</div>
{% endblock body %}


