{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ handler.common_url('css/dataTables.min.css') }}">
<style>
select option { color: #888; }
</style>
{% end %}

{% block body %}
{% raw xsrf_form_html() %}

<nav class="nav"><a class="nav-link active" href="about" style="color:#888888">HOME</a></nav>
<div class="row">

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Tesla Credentials</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                    <table>
                    <tr><td>Email address:&nbsp;</td><td><input class="form-control" id="tesla_email" type="text" size="50%" name="tesla_email" value="" style="color: #888888"></td></tr>
                    </table>
                    <br/><br/>
                    Vehicle Anonymizer Password (same as when you registered the vehicle): <input type="password" id="tesla_pwd" class="form-control" style="color: #888888">
                    <br/>
                    Show Range As: <select id="range" class="form-control" onChange="changeFunc();" style="color:#888888"><option value="km">Kilometers</option><option value="mi">Miles</option></select>
                    <br/>
                    Show Temperature As: <select id="temperature" class="form-control" onChange="changeFunc();" style="color:#888888"><option value="C">Celsius</option><option value="F">Fahrenheit</option></select>
                    <br/><br/>
                    <input type="submit" class="btn btn-primary" value="Fetch Vehicle Data" onClick="FetchVehicleData();">
                    <br/>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Vehicle Data</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                Anonymized Asset IDs:<p id="p_selectBox"></p>
                <br/>
                <table class="table" id="table1">
                <tr><td>Battery Type</td><td id="battery_type" align="right"></td></tr>
                <tr><td>Battery Level (%)</td><td id="battery_level" align="right"></td></tr>
                <tr><td>Usable Battery Level (%)</td><td id="usable_battery_level" align="right"></td></tr>
                <tr><td>Battery Range</td><td id="battery_range" align="right"></td></tr>
                <tr><td>Ideal Battery Range</td><td id="ideal_battery_range" align="right"></td></tr>
                <tr><td>Estimated Battery Range</td><td id="est_battery_range" align="right"></td></tr>
                <tr><td>Charge Current Request (A)</td><td id="charge_current_request" align="right"></td></tr>
                <tr><td>Charge Energy Added (kWh)</td><td id="charge_energy_added" align="right"></td></tr>
                <tr><td>Charge Range Added Ideal&nbsp;</td><td id="charge_miles_added_ideal" align="right"></td></tr>
                <tr><td>Charge Range Added Rated</td><td id="charge_miles_added_rated" align="right"></td></tr>
                <tr><td>Inside Temperature</td><td id="inside_temp" align="right"></td></tr>
                <tr><td>Outside Temperature</td><td id="outside_temp" align="right"></td></tr>
                <tr><td>Odometer</td><td id="odometer" align="right"></td></tr>
                <tr><td>Car Version</td><td id="car_version" align="right"></td></tr>
                <tr><td>Car Type</td><td id="car_type" align="right"></td></tr>
                <tr><td>Exterior Color</td><td id="exterior_color" align="right"></td></tr>
                <tr><td>Wheel Type</td><td id="wheel_type" align="right"></td></tr>
                <tr><td>Timestamp</td><td id="timestamp" align="right"></td></tr>
                </table>
                <br/>
                <button id="bn1" onclick="teslaSubmit();" class="btn btn-primary">{{ _("Submit Transaction") }}</button>
            </div>
        </div>
    </div>

    <div id="message_window" class="modal" tabindex="-1" role="dialog"></div>

</div>

<br/>

{% end %}

{% block footer %}
<!-- this goes after default includes, like jquery -->
<script src="{{ handler.common_url('js/plugins/jquery.dataTables.min.js') }}"></script>
<script src="{{ handler.common_url('js/plugins/Chart.min.js') }}"></script>
<script src="{{ handler.common_url('js/core/jquery-ui.min.js') }}"></script>
<script src="{{ handler.common_url('js/plugins/dataTables.buttons.min.js') }}"></script>
<script src="{{ handler.common_url('js/plugins/jszip.min.js') }}"></script>
<script src="{{ handler.common_url('js/plugins/pdfmake.min.js') }}"></script>
<script src="{{ handler.common_url('js/plugins/vfs_fonts.js') }}"></script>
<script src="{{ handler.common_url('js/plugins/buttons.html5.min.js') }}"></script>

<script src="/crystal/tesla/static/util.js"></script>
<script src="/crystal/tesla/static/tesla.js"></script>
<script src="/crystal/tesla/static/footer.js"></script>
{% end %}
