*.pyc
*/*.pyc
*.pyo
*/*.pyo
*.pyd
*/*.pyd
*.~vsd
*.orig
*_off.py
COMMITS.txt
HISTORY.txt
.identities/
release/
screenshots/
plugins/
web/*.db
docs.teamlab/
docs/area
services/html_src/
venv
setup.py
