*.pyc
*.pyo
*.pyd
*.~vsd
*.orig
COMMITS.txt
HISTORY.txt
.identities/
release/
screenshots/
plugins/
web/*.db
docs.teamlab/
docs/area
services/html_src/
release/datahaven/
release/windows/checksum
release/windows/files
release/windows/revnum
release/windows/version
release/windows/bin/
release/windows/build/
release/windows/starter/
release/windows/upload/
release/windows/portable/
release/windows/bitdust*.zip
release/windows/advinstaller/bitdust-cache/
release/windows/advinstaller/output/
release/windows_devel/advinstaller/bitdust-cache/
release/windows_devel/advinstaller/output/
release/windows_devel/bin/
release/windows_devel/portable/
release/windows_devel/bitdust*.zip
release/windows_stable/advinstaller/bitdust-cache/
release/windows_stable/advinstaller/output/
release/windows_stable/bin/
release/windows_stable/portable/
release/windows_stable/bitdust*.zip
release/sources/workspace/
release/sources/*.zip
release/sources/sdist.log
release/ubuntu_devel/build.log
release/ubuntu_devel/workspace/
release/ubuntu_stable/build.log
release/ubuntu_stable/workspace/
