env:
  global:
    - DOCKER_COMPOSE_VERSION=1.24.1

services: docker

language: python

matrix:
  include:

    - name: "2.7"
      python: "2.7"
      env:
        - REGRESSION_PY_VER=2.7.15
        - VENV_PYTHON_VERSION=python2.7

    - name: "3.6"
      python: "3.6"
      env:
        - REGRESSION_PY_VER=3.6
        - VENV_PYTHON_VERSION=python3.6

before_install:
  - set -e
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

  - docker -v
  - docker-compose -v
  - make -v

script:
  - make test_unit
  - make regress_test
  - make regression_test
