# Twisted==22.2.0
# service_identity
# pycryptodomex
# pyparsing
# appdirs
# psutil
# cffi
# six

appdirs==1.4.4
attrs==20.3.0
Automat==20.2.0
cffi==1.14.5
constantly==15.1.0
cryptography==3.4.4
hyperlink==21.0.0
idna==3.1
incremental==17.5.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodomex==3.10.1
PyHamcrest==2.0.2
pyparsing==2.4.7
service-identity==18.1.0
six==1.16.0
zope.interface==5.2.0
virtualenv==20.0.21
Twisted==22.2.0
