/* Example styling for the chat window */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main {
    position: relative;
    height: 100%;
}
  
#chatwindow {
    text-align: left;
 /* min-height: 250px;  */
 /* border-radius: 10px; */
 /* width: calc(100% - 170px);   */
 /* border: 1px dotted lightgray; */
 padding: 10px;
 /* margin-right: 10px; */
 /* overflow-y: auto;  */
 /* background-color: white; */
 /* float: left; */
}
#memberswindow {
	text-align: left;
	color: #777;
    /* border-radius: 10px; */
 /* height: 250px; */
 /* width: 100px; */
 /* border: 1px dotted lightgray; */
     padding: 10px; 
 /* margin-left: 10px; */
 /* overflow-y: auto; */
 /* background-color: white; */
 /* float: left; */
}
#messagewindow {
    position: absolute;
    bottom: 30px;
    right: 0px;
    left: 0px;
    /* padding: 10px; */
}
#chatform {
	width: 100%;
}
#msg {
	width: 80%;
}


.clear{
 clear: both;
 height: 10px;
}
.chatline {
width: 100%;
}
.chatname {
font-weight: bold;
padding: 0px 5px;
}
.chattime {
color: lightgray;
}
.chatevent {
color: lightgray;
}
