{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ handler.common_url('css/bisdataTables.css') }}">
{% end %}


{% block body %}



<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">{{ _('My latest BISMUTH Tokens transactions') }}</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover" id="Last">
                    <thead class="text-warning">
                    <th class="center">&nbsp;</th>
                    <th class="center">{{ _("Token ID")}}</th>
                    <th>{{ _("Block")}}</th>
                    <th>{{ _("Timestamp")}}</th>
                    <th >{{ _("Sender")}}</th>
                    <th >{{ _("Recipient")}}</th>
                    <th >{{ _("Amount")}}</th>
                    <th >{{ _("Payload")}}</th>
                    </thead>
                    <tbody>

                    {% for id, token in enumerate(last) %}
                    {% if False %}
                        <tr style="font-style:italic;">
                    {% else %}
                        <tr>
                    {% end %}

                        <td class="center">
                           <a href="https://bismuth.today/transactions/{{ token[0] }}"><i class="material-icons">open_in_new</i></a>
                        </td>
                        <td class="center">
                            {{ token[0] }}
                        </td>
                         <td>
                            {{ token[1] }}
                        </td>
                        <td>
                            {{ datetime.datetime.utcfromtimestamp(token[2]).strftime('%Y-%m-%d %H:%M:%S') }}
                        </td>
                        <td>
                            {{ token[3] }}
                        </td>
                        <td>
                            {{ token[4] }}
                        </td>
                        {% if token[5] == bismuth['address'] %}
                        <td class="text-warning amount">-
                        {% else %}
                        <td class="text-success amount">
                        {% end %}
                            {{ token[5] }}
                        </td>
                        <td>
                            {% if len(token) >= 7 %}
                            <a href="#" title="{{ token[6] }}" alt="{{ token[6] }}"><i class="material-icons">markunread_mailbox</i></a>
                            {% else %}
                            &nbsp;
                            {% end %}
                        </td>
                    </tr>
                    {% end %}

                    </tbody>
                </table>

            </div>
            <div class="card-footer">
                <a href="../"><i class="material-icons">arrow_back</i> {{ _('Back to tokens') }}</a>
            </div>
        </div>
    </div>
</div>

{% end %}
{% block footer %}
<!-- this goes after default includes, like jquery -->
<script src="{{ handler.common_url('js/plugins/jquery.dataTables.min.js') }}"></script>
<script>
    var table = $('#Last').DataTable({ {% raw bismuth['dtlanguage'] %} });
</script>
{% end %}
