<!DOCTYPE html>
<html lang='ru'>
<head>
<title>
%(title)s
</title>
<style type="text/css">
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.7;  }
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
p {  }
code { font-size: 1.3em; }
a { color: #446E9B; text-decoration: none; }
a:hover, a:focus { color: #345578; text-decoration: underline; }
</style>
</head>
<body>
%(body)s
</body>