<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>
BitPie.NET services map
</title>
</head>
<body bgcolor="#FFFFFF">
<center>
<img SRC="services.jpg" BORDER="0" USEMAP="#visImageMap" width=926>
</center>
<div id=RasterDiv>
{area}
</div>
</body>
</html>