{% extends "page.html" %}
{% block page %}
<h1><a href="{{ idurl }}" target=_blank>@</a> {{ idurl }}</h1>
{% if identity.idurl %}
    <p>This identity is cached with key: {{ identity.id }}</p>
    <p>You can <a href="/identity/ping?idurl={{ idurl|urlencode:'' }}">ping</a> this node again.</p> 
    <p>Start a <a href="/chat/open?idurl={{ idurl|urlencode:'' }}">live chat</a> with that user now.</p>
    <textarea cols="80" rows="15" readonly="readonly">{{ identity.src }}</textarea>
{% else %}
    <p>This identity is not cached yet, try to <a href="/identity/ping?idurl={{ idurl|urlencode:'' }}">ping</a> this node now.</p> 
{% endif %}
{% endblock page %}