{% extends "page.html" %}

{% block extra_html_args %}data-ng-app="FileManagerApp" {{ block.super }}{% endblock extra_html_args %}

{% block extra_head_before %}
<script src="/asite/js/angular.min.js" type="text/javascript"></script>
<script src="/asite/js/angular-translate.min.js" type="text/javascript"></script>
<script src="/asite/js/angular-cookies.min.js" type="text/javascript"></script>
{{ block.super }}
{% endblock extra_head_before %}

{% block extra_head %}
{{ block.super }}
<script src="/filemanagerapp/js/app.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/config.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/chmod.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/item.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/filenavigator.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/fileuploader.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/translations.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/tasks.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/controller.js" type="text/javascript"></script>
<script src="/filemanagerapp/js/selector-controller.js" type="text/javascript"></script>

<link href="/filemanagerapp/css/angular-filemanager.css" rel="stylesheet" type="text/css">
{% endblock extra_head %}

{% block page %}

<div id="filemanager">
    <angular-file-manager></angular-file-manager>
</div>    

{% endblock page %}