{% extends "base.html" %}

{% block body %}


<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">{{ _("Get help")}}</h4>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        <a href="https://github.com/bismuthfoundation/Bismuth-FAQ/tree/master/Wallet/Tornado" target="_blank">{{ _("Wallet F.A.Q.")}}</a>
                    </li>
                    <li>
                        <a href="https://discordapp.com/invite/8KvA3JU" target="_blank">{{ _("Discord")}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


{% end %}
