{% extends "base.html" %}

{% block body %}


<div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">{{ _("Crystals")}}</h4>
                <p class="card-category">{{ _("Crystals are extra functionalities you can add to your wallet")}}</p>
            </div>
            <div class="card-body">
                <form method="post" action="/crystals/">

                    <table class="table">
                        <tr>
                            <td>{{ _('Active') }}</td>
                            <td>{{ _('Icon') }} </td>
                            <td>{{ _('Name') }} </td>
                            <td>{{ _('Version') }} / {{ _('Date') }}</td>
                            <td>{{ _('Description') }} </td>
                            <td>{{ _('Author') }} </td>
                            <td>{{ _('Learn more...') }} </td>
                        </tr>
                        <tbody>
                        {% for name, data in crystals.items() %}
                        <tr>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="active_{{ data['fullname'] }}"
                                               value="1" {{ handler.bool2str(data['active'], 'checked', '')}}>
                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                    </label>
                                </div>
                            </td>
                            <td> {% if data['about'].get('icon', False) %}
                                <img src="/static/crystals/{{ data['about']['icon'] }}" width="32" style="margin-right:10px;"/>
                                {% else %}
                                &nbsp;
                                {% end %}
                            </td>
                            <td>{{ name }}</td>
                            <td>v {{ data['about']['version'] }} / {{ data['about']['date'] }}</td>
                            <td>{{ data['about']['description'] }}</td>
                            <td>{{ data['about']['author'] }}</td>
                            <td><a href="{{ data['about']['url'] }}" target="_blank">{{ _('More...') }}</a></td>

                        </tr>
                        {% end %}
                        </tbody>
                    </table>
                    {% raw xsrf_form_html() %}
                    <button type="submit" rel="tooltip" title=""
                            class="btn btn-primary">
                        {{ _('Apply') }}
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>


{% end %}
