{% extends "base.html" %}

{% block body %}


<div class="row">

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <a href="/transactions/">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">account_balance_wallet</i>
                    </div>
                    <p class="card-category">&nbsp;</p>
                    <h3 class="card-title">{{ _("Your Bismuth addresses") }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">folder</i> <span>{{ _("Your wallet directory is {}").format(wallet_dir) }}</span>.
                        {{ _("Your wallet is {}").format('wallet.json') }}
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
	  <div class="card card-stats">
		  <a href="/wallet/load/global">
			<div class="card-header card-header-success card-header-icon">
			  <div class="card-icon">
				<i class="material-icons">account_balance_wallet</i>
			  </div>
			  <p class="card-category">{{ _("Balance")}}</p>
			  <h3 class="card-title">{{ global_balance }}&nbsp;$BIS</h3>
			</div>
			<div class="card-footer">
			  <div class="stats">
				<i class="material-icons">date_range</i> <span>{{ _("Click to query total balance") }}</span>
			  </div>
			</div>
		  </a>
	  </div>
	</div>


</div>

<div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">{{ _("Your Bismuth addresses") }}</h4>
                <!-- p class="card-category">{{ _("Updated on")}} November 19, 2018</p -->
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <th>{{ _("Label")}}</th>
                    <th>{{ _("Address")}}</th>
                    <th>{{ _("Balance")}}</th>
                    <th>{{ _("Action")}}</th>
                    </thead>
                    <tbody>
                    {% for address in addresses %}
                    <tr style="border-bottom:1px solid #808080;">
                        <td><a href="#" data-address="{{ address['address'] }}" data-label="{{ address['label'] }}" class="label_edit">
                            <i class="material-icons md-18" title="{{ _('Edit this label')}}" style="font-size:16px;">create</i></a>
                            </a>{{ address['label'] }}</td>
                        <td>
                            {% if bismuth['address'] == address['address'] %}
                                <i class="material-icons md-18 primary" style="font-size:16px;">done</i> <b>{{ address['address'] }}</b>
                            {% else %}
                                <a href="/wallet/load_address/{{ address['address'] }}">{{ address['address'] }}</a>
                            {% end %}
                        </td>
                        <td style="text-align: right; padding-right:10px;">{{ balances.get(address['address'], "ERR: Reload") }}
                        </td>
                        <td><a href="/wallet/load_address/{{ address['address'] }}">
                            <i class="fa fa-envelope-open" title="{{ _('Set this address as current one')}}"></i>
                            </a> &nbsp;

                        </td>
                    </tr>
                    {% end %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>



<div id="edit_window" class="modal" tabindex="-1" role="dialog">

<div class="modal-open" tabindex="-1" role="dialog">
    <form method="post" action="/wallet/set_label" id="set_label_form">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #1a2035;">
                <div class="modal-header">
                    <h5 class="modal-title">{{_("Edit label")}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">{{ _("Address") }}: <span id="label_address">...</span></h4>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="address" id="label_address_input" value=""/>
                            <div class="form-group">
                            <label class="bmd-label-floating">{{ _("Label")}}</label>
                            <input class="form-control" type="text" name="label" id="label_input" />
                            <small>{{ _("A private label for that address")}}</small>
                        </div>
                        </div>
                        <div class="card-footer">
                            {% raw xsrf_form_html() %}
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
                            <i class="material-icons">cancel</i> {{ _("Cancel") }}
                            </button>
                         <button type="submit" class="btn btn-primary" id="set_label_btn"><i class="material-icons">done</i>&nbsp;{{_("Set label")}}</button><br/>
                            {{ _("This can take some time, especially if your wallet is encrypted. Do not interrupt.") }}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>

</div>
{% end %}
