<div id="filemanager-footer" class="pull-left" data-ng-controller="FileManagerFooterCtrl">
  <div data-ng-show="initialized()">
    <button class="btn btn-default btn-xs" id="info-space-used" class="filemanager-footer-item">
        {{usedSpaceInfo()}}
    </button>
    <button class="btn btn-default btn-xs" id="info-suppliers" class="filemanager-footer-item">
        {{suppliersInfo()}}
    </button>
    <button class="btn btn-default btn-xs" id="info-space-donated" class="filemanager-footer-item">
        {{donatedSpaceInfo()}}
    </button>
    <button class="btn btn-default btn-xs" id="info-customers" class="filemanager-footer-item">
        {{customersInfo()}}
    </button>
  </div>
</div>
