<div id="filemanager-content" data-ng-controller="FileManagerCtrl">

    <div data-ng-show="fileNavigator.requesting"> </div>
    
    <div data-ng-show="fileNavigator.fileList.length > 0 && !fileNavigator.requesting">
    
        <div ng-include="config.tplPath + '/navbar.html'"></div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div ng-include="config.tplPath + '/current-folder-breadcrumb.html'"
                         data-ng-show="fileNavigator.treeView">
                    </div>
                </div>
                
                <!-- 
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar file-tree"
                    ng-include="config.tplPath + '/sidebar.html'">
                </div>
                -->
                 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main">
                    <div class="main-navigation"
                        ng-include="config.tplPath + '/' + viewTemplate">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="active-tasks-panel" data-ng-show="activeTasks.hasTasks()">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div ng-include="config.tplPath + '/tasks.html'">
                    </div>
                </div>
            </div>  
        </div>
    
    </div>
    
    <div id="filemanager-intro" data-ng-show="fileNavigator.fileList.length == 0 && !fileNavigator.requesting">
        <button class="btn btn-lg btn-success" 
            data-ng-click="openUploadFromNavigator(temp)">
          divide, encrypt and upload
        </button>
        <br/><br/>
        <p>
        Pick a file or folder on your local HDD and start uploading into BitDust Network.
        <br/> 
        Your data will be read, processed and <a href="http://bitdust.io/storage.html#upload-in-the-network">distributed</a>
        on a set of remote machines to be safely stored as encrypted fragments.
        <br/>
        Be sure to make a copy of your Private Key in a safe place to be able to restore your uploaded files in bad situation.
        </p>
    </div>
    
    <div ng-include="config.tplPath + '/modals.html'"></div>
    <div ng-include="config.tplPath + '/item-context-menu.html'"></div>
    
</div>
