<div id="filemanager-content" data-ng-controller="FileManagerCtrl">

    <div ng-include="config.tplPath + '/modals.html'"></div>
    <div ng-include="config.tplPath + '/item-context-menu.html'"></div>
    
    <div data-ng-show="!initialized() || fileNavigator.requesting">
    </div>
    
    <div data-ng-show="initialized() && hasIndexedItems() && !fileNavigator.requesting">
    
        <div ng-include="config.tplPath + '/navbar.html'"></div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-breadcrumb">
                    <div ng-include="config.tplPath + '/current-folder-breadcrumb.html'"
                         data-ng-show="fileNavigator.treeView">
                    </div>
                </div>
                
                <!-- 
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar file-tree"
                    ng-include="config.tplPath + '/sidebar.html'">
                </div>
                -->
                 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main">
                    <div class="main-navigation"
                        ng-include="config.tplPath + '/' + viewTemplate">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="active-tasks-panel" data-ng-show="activeTasks.hasTasks()">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div ng-include="config.tplPath + '/tasks.html'">
                    </div>
                </div>
            </div>  
        </div>
    
    </div>
    
    <div id="filemanager-intro" 
        data-ng-show="initialized() && !hasIndexedItems() && !fileNavigator.requesting">

        <div class="site-wrapper">
        <div class="site-wrapper-inner">
        <div class="cover-container">
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>
                    Pick a file or folder and start uploading into BitDust Network.
                </h3>
                <br/>
            </div>        
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class=" panel panel-success">
                    <div class="panel-heading">
                        Backup/Restore your personal files
                    </div>
                    <div class="panel-body">
                        <button class="startup-upload-button btn btn-lg btn-success" 
                                data-ng-click="openUploadFromNavigator(temp)">
                            <i class="fa fa-upload"></i>
                            {{'upload' | translate}}
                        </button>
                        <p> <br/>
                            Make sure that the program is constantly running on your computer and have Internet access.
                            Automated <a target="_blank" href="http://bitdust.io/rebuilding.html" >rebuilding process</a> ensures 
                            reliable storage and constant availability of your data.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class=" panel panel-info">
                <div class="panel-heading">
                    Safely share data with others
                    <i class="text-muted">(developing)</i>
                </div>
                <div class="panel-body">
                    <button class="disabled startup-upload-button btn btn-lg btn-info" 
                            data-ng-click="">
                        <i class="fa fa-share-square-o"></i>
                        {{'share' | translate}}
                    </button>
                    <p> <br/>
                        <!-- Other users will receive uploaded data directly from your suppliers at maximum speed. -->
                        Create a private groups, configure file permissions, send secure links to your friends,
                        freely and anonymously publish any data on the BitDust network. 
                    </p>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class=" panel panel-warning">
                <div class="panel-heading">
                    Upload and hide critical data
                    <i class="text-muted">(coming soon)</i>
                </div>  
                <div class="panel-body">          
                    <button class="disabled startup-upload-button btn btn-lg btn-warning" 
                            data-ng-click="">
                        <i class="fa fa-eye-slash"></i>
                        {{'hide' | translate}}
                    </button>
                    <p> <br/>
                        Upload an remove the source file from your computer.
                        Data in the BitDust network completely
                        lose its integrity - we call that "data disintegration",
                        <a target="_blank" href="http://bitdust.io/security.html#data-integrity">read more.</a> 
                    </p>
                </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>
                    Your data will be read, processed and 
                    <a target="_blank" href="http://bitdust.io/storage.html#upload-in-the-network">distributed</a>
                    on a set of remote machines to be safely stored as encrypted fragments.
                    All BitDust users, as well as you, keeps pieces of another's data on own computers - 
                    without any access to them.                    
                </p>
            </div>
                    
        </div>
        
        </div>
        </div>
        </div>

    </div>
    
</div>
