<div data-ng-show="!item.inprocess">

    <button class="btn btn-sm btn-default" 
            data-ng-click="smartRightClick(item, $event)" >
        <i class="glyphicon glyphicon-th-list"></i>
    </button>

<!--
    <button class="btn btn-sm btn-primary" 
            data-ng-show="config.allowedActions.synchronize" 
            data-ng-click="synchronizeItem(item)" 
            title="{{'synchronize' | translate}}">
        <i class="glyphicon glyphicon-refresh"></i>
    </button>

    <button class="btn btn-sm btn-success" 
            data-ng-show="config.allowedActions.download && (item.hasVersions() || item.isLocal())" 
            data-ng-click="openDownloadToNavigator(item)" 
            title="{{'download' | translate}}">
        <i class="glyphicon glyphicon-cloud-download"></i>
    </button>
    
    <button class="btn btn-sm btn-danger" 
            data-toggle="modal" 
            data-target="#delete" 
            ng-show="config.allowedActions.remove" 
            data-ng-click="touch(item)" 
            title="{{'remove' | translate}}">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
-->    
    
</div>
<div data-ng-show="item.inprocess">
    <button class="btn btn-sm" style="visibility: hidden">&nbsp;</button><span class="label label-warning">{{"wait" | translate}} ...</span>
</div>
