<div id="context-menu-item" 
    class="context-menu dropdown clearfix animated fast fadeIn">
    <ul class="dropdown-menu dropdown-right-click" 
            role="menu" aria-labelledby="dropdownMenu">

        <li class="disabled"
            data-ng-show="config.allowedActions.restore && temp.hasVersions()">
            <a href="" 
                tabindex="-1" 
                data-ng-click="restoreItem(temp)">
                <i class="fa fa-history"></i>
                {{'restore' | translate}}
            </a>
        </li>
        
        <li data-ng-show="config.allowedActions.synchronize && temp.hasVersions()">
            <a href="" 
                tabindex="-1" 
                data-ng-click="synchronizeItem(temp)">
                <i class="glyphicon glyphicon-refresh"></i>
                {{'synchronize' | translate}}
            </a>
        </li>

        <li data-ng-show="config.allowedActions.download && temp.hasVersions()">
            <a href="" 
                tabindex="-1" 
                data-toggle="modal" 
                data-ng-click="openDownloadToNavigator(temp)">
                <i class="glyphicon glyphicon-download"></i>
                {{'download' | translate}}
            </a>
        </li>

        <li class="disabled"
            data-ng-show="config.allowedActions.explore">
            <a href="" 
                tabindex="-1" 
                data-ng-click="exploreItem(temp)">
                <i class="fa fa-folder-open-o"></i>
                {{'explore' | translate}}
            </a>
        </li>

        <li  class="disabled"
            data-ng-show="config.allowedActions.open">
            <a href="" 
                tabindex="-1" 
                data-ng-click="openItem(temp)">
                <i class="fa fa-file-o"></i>
                {{'open' | translate}}
            </a>
        </li>
        
        <li class="disabled"
            data-ng-show="config.allowedActions.explore">
            <a href="" 
                tabindex="-1" 
                data-ng-click="hideItem(temp)">
                <i class="fa fa-eye-slash"></i>
                {{'hide' | translate}}
            </a>
        </li>        

        <li data-ng-show="config.allowedActions.remove && temp">
            <a href="" 
                tabindex="-1" 
                data-toggle="modal" 
                data-target="#delete">
                <i class="glyphicon glyphicon-trash"></i>
                {{'remove' | translate}}
            </a>
        </li>

    </ul>
</div>

<div id="context-menu-folder" 
    class="context-menu dropdown clearfix animated fast fadeIn">
    <ul class="dropdown-menu dropdown-right-click" role="menu" aria-labelledby="dropdownMenu">

        <li  class="disabled"
            data-ng-show="config.allowedActions.restore && temp.hasVersions()">
            <a href="" 
                tabindex="-1" 
                data-ng-click="restoreItem(temp)">
                <i class="fa fa-history"></i>
                {{'restore' | translate}}
            </a>
        </li>

        <li data-ng-show="config.allowedActions.synchronize && temp.hasVersions()">
            <a href="" 
                tabindex="-1" 
                data-ng-click="synchronizeItem(temp)">
                <i class="glyphicon glyphicon-refresh"></i>
                {{'synchronize' | translate}}
            </a>
        </li>

        <li data-ng-show="config.allowedActions.download && temp.hasVersions()">
            <a href="" 
                tabindex="-1" 
                data-toggle="modal" 
                data-ng-click="openDownloadToNavigator(temp)">
                <i class="glyphicon glyphicon-download"></i>
                {{'download' | translate}}
            </a>
        </li>

        <li class="disabled"
            data-ng-show="config.allowedActions.explore">
            <a href="" 
                tabindex="-1" 
                data-ng-click="exploreItem(temp)">
                <i class="fa fa-folder-open-o"></i>
                {{'explore' | translate}}
            </a>
        </li>

        <li class="disabled"
            data-ng-show="config.allowedActions.explore">
            <a href="" 
                tabindex="-1" 
                data-ng-click="hideItem(temp)">
                <i class="fa fa-eye-slash"></i>
                {{'hide' | translate}}
            </a>
        </li>

        <li 
            data-ng-show="config.allowedActions.remove && temp">
            <a href="" 
                tabindex="-1" 
                data-toggle="modal" 
                data-target="#delete">
                <i class="glyphicon glyphicon-trash"></i>
                {{'remove' | translate}}
            </a>
        </li>
    </ul>
</div>

<div id="context-menu-version" 
    class="context-menu dropdown clearfix animated fast fadeIn">
    <ul class="dropdown-menu dropdown-right-click" role="menu" aria-labelledby="dropdownMenu">

        <li class="disabled"
            data-ng-show="config.allowedActions.restoreversion && temp && tempVersion">
            <a href="" 
                tabindex="-1" 
                data-ng-click="restoreVersion(temp, tempVersion)">
                <i class="fa fa-history"></i>
                {{'restore' | translate}}
            </a>
        </li>

        <li class="disabled"
            data-ng-show="config.allowedActions.downloadversion && temp && tempVersion">
            <a href="" 
                tabindex="-1" 
                data-ng-click="downloadVersion(temp, tempVersion)">
                <i class="glyphicon glyphicon-download"></i>
                {{'download' | translate}}
            </a>
        </li>

        <li class="disabled"
            data-ng-show="config.allowedActions.watchversion && temp && tempVersion">
            <a href="" 
                tabindex="-1" 
                data-ng-click="watchVersion(temp, tempVersion)">
                <i class="fa fa-info-circle"></i>
                {{'info' | translate}}
            </a>
        </li>

        <li data-ng-show="config.allowedActions.eraseversion && temp && tempVersion">
            <a href="" 
                tabindex="-1" 
                data-ng-click="eraseVersion(temp, tempVersion)">
                <i class="glyphicon glyphicon-trash"></i>
                {{'remove' | translate}}
            </a>
        </li>
    
    </ul>
</div>
        
<div id="context-menu-active-task" 
    class="context-menu dropdown clearfix animated fast fadeIn">
    <ul class="dropdown-menu dropdown-right-click" role="menu" aria-labelledby="dropdownMenu">

        <li data-ng-show="config.allowedActions.cancel">
            <a href="" 
                tabindex="-1" 
                data-toggle="modal" 
                data-ng-click="cancelTask()">
                <i class="glyphicon glyphicon-refresh"></i>
                {{'cancel' | translate}}
            </a>
        </li>
    
    </ul>
</div>


