<table class="table table-striped table-hover mb0 table-files">
    <thead>
        <tr data-ng-show="fileNavigator.fileList.length >= 1">
            <th width="100%">
                {{"name" | translate}}
            </th>
            <th>
                {{"copies" | translate}}
            </th>
            <th class="hidden-xs">
                {{"size" | translate}}
            </th> 
            <th class="hidden-sm hidden-xs">
                {{"date" | translate}}
            </th>
            <th class="text-right">
                {{"actions" | translate}}
            </th>
        </tr>
    </thead>
    <tbody class="file-item">
        <tr data-ng-show="!fileNavigator.requesting && fileNavigator.error">
            <td colspan="5">
                {{ fileNavigator.error }}
            </td>
        </tr>
        <tr data-ng-repeat="item in fileNavigator.fileList | filter: query | orderBy: orderProp" data-ng-show="!fileNavigator.requesting">
            <td width="100%" class="main-table-item">
                <a href="" 
                    data-ng-click="smartClick(item, $event)" 
                    ng-right-click="smartRightClick(item, $event)" 
                    title="{{item.model.name}} ({{item.sizeKB()}}kb)">
                    <i class="glyphicon glyphicon-folder-close" data-ng-show="item.model.type === 'dir'"></i>
                    <i class="glyphicon glyphicon-file" data-ng-show="item.model.type === 'file'"></i>
                    {{item.model.name}} <!-- | strLimit : 64 --> 
                </a>
            </td>
            <td style="white-space: nowrap;"> <!-- class="hidden-xs" -->
                <button class="version btn btn-sm"
                        ng-class="item.versionClassSelector(version)"
                        data-ng-repeat="version in item.model.versions"
                        data-ng-click="smartClickVersion(item, version, $event)" 
                        ng-right-click="smartRightClickVersion(item, version, $event)" 
                        title="{{version.status}}">
                    <i class="fa fa-spinner fa-pulse"
                       data-ng-show="{{version.state!='ready'}}"></i>
                    <i class="fa fa-cube"
                       data-ng-show="{{version.state=='ready'}}"></i>
                </button>
            </td>
            <td class="hidden-xs"> 
                {{item.sizeKB()}}kb
            </td>
            <td style="white-space: nowrap;" 
                class="hidden-sm hidden-xs">
                {{item.model.date}} 
            </td>
            <td class="main-table-item-toolbar text-right">
                <div ng-include="config.tplPath + '/item-toolbar.html'">
                </div>
            </td>
        </tr>
    </tbody>
</table>