{% extends "base.html" %}
{% block body %}

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
        </div>
      </div> 

      <div class="inner cover">           
        {% block page %}
        {% endblock page %}
      </div>
          
      <div class="mastfoot">
        <div class="pull-right">
          <p>&copy; BitDust, 2015&nbsp;&nbsp;&nbsp;</p>
        </div>
      </div> 
          
    </div>
  </div>
</div> 
{% endblock body %}

{% block extra_head %}
  <link href="/asite/css/cover.css" rel="stylesheet">
{% endblock extra_head %}
