{% extends "base.html" %}

{% block extra_head %}
  {{ block.super }}
  <script src="/asite/js/autoupdater.js"></script> 
  <link href="/asite/css/cover.css" rel="stylesheet">
  <link href="/asite/css/navbar.css" rel="stylesheet">
  <link href="/asite/css/setup.css" rel="stylesheet">
{% endblock extra_head %}

{% block body %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-top-menu" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <!-- TODO -->
      </ul>
      <ul class="nav navbar-nav navbar-right pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <button class="btn btn-sm btn-default pull-right" title="Shutdown">
                    <i class="glyphicon glyphicon-off"></i>
                </button>
            </a> 
            <ul class="dropdown-menu pull-right" role="menu">
                <li class="pull-right">
                    <a href="/api/stop">Exit</a>
                </li>
                <li class="pull-right">
                    <a href="/api/restart">Restart</a>
                </li>
            </ul> 
        </li>
      </ul> 
    </div>
  </div>
</nav>


<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
        </div>
      </div> 

      <div class="mastfoot">
        <div class="footer">
          <div class="pull-right copyright-text">  
            &copy; BitDust, 2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div> 

      <div class="inner cover text-center">           
        {% block page %}
        {% endblock page %}
      </div>
          
          
    </div>
  </div>
</div> 
{% endblock body %}

