html {
  /*position: relative;
  min-height: 100%;*/
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
	position: fixed;
    right: 0px;
    left: 0px;
	/* position: absolute; */
	bottom: 0;
	/* width: 100%; */
	/* Set the fixed height of the footer here */
	height: 30px;
	line-height: 30px;   
    background-color: #fff;
    color: #888;
}