.myfiles-wrap {
	margin-top: 20px;
}

.myfiles-list table, tr, td, th {
    border: 1px #f2f2f2 solid;
}

.myfiles-controls table, tr, td, th {
	border: 0px;
}
.myfiles-controls {
	margin-top: 10px;
}

.myfiles-name-col {
	max-width: 400px;
	overflow: hidden;
}

.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
.list-group-item {
	text-align: left;
}