
* {
	text-decoration: none;
	font-size: 1em;
	outline: none;
	padding: 0;
	margin: 0;
}

code, kbd, samp, pre, tt, var, textarea, 
input, select, isindex, listing, xmp, plaintext {
	/* white-space: normal; */
	font-size: 1em;
	font: inherit;
}

dfn, i, cite, var, address, em { 
	font-style: normal; 
}

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal;  
}

th, b, strong {
	font-weight: bold;
}

a, img, a img, iframe, form, fieldset, 
abbr, acronym, object, applet, table {
	border: none; 
}
	
table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td { 
	/* vertical-align: top; */
	/* text-align: left; */
}

body { 
	/* background: white; */ 
	line-height: 1; 
	color: black; 
}
	
q { 
	quotes: "" ""; 
}

ul, ol, dir, menu { 
	/* list-style: none; */ 
}

sub, sup { 
	vertical-align: baseline; 
}

a { 
	color: inherit; 
}

hr { 
	/* display: none */; 
}

font { 
	color: inherit !important; 
	font: inherit !important; 
	color: inherit !important; /* editor's note: necessary? */ 
}

marquee {
	overflow: inherit !important;
	-moz-binding: none;
}

blink { 
	text-decoration: none; 
}

nobr { 
	white-space: normal; 
}
