{% extends "base.html" %}
{% block body %}

<h2>Home</h2>

Your address: {{ bismuth['address'] }}<br>
Total Balance: {{ escape(bismuth['balance']) }}&nbsp;BIS<br>
Server: {{ bismuth['server']['server'] }}<br>
Available servers: {{ bismuth['server']['servers_list'] }}

Lastest transactions
<table>
  <thead>
	<tr>
	  <th>Date</th>
	  <th>txid</th>
	  <th>From</th>
	  <th>To</th>
	  <th>Amount</th>
	  <th>Fees</th>
	  <th></th>Data</th>

	</tr>
  </thead>
  <tbody>
	{% for transaction in bismuth['transactions'] %}
	  <!-- module Transaction(transaction) -->
	<tr>
		<th>{{ datetime.datetime.utcfromtimestamp(transaction['timestamp']).strftime('%Y-%m-%d %H:%M:%S') }}</th>
		<th>{{ transaction['signature'][:56] }}</th>
		<td>{{ transaction['address'] }}</td>
		<td>{{ transaction['recipient'] }}</td>
		{% if float(transaction['amount']) < 0 %}
		<td>{{ transaction['amount'] }}</td>
		{% else %}
		<td>{{ transaction['amount'] }}</td>
		{% end %}
		<td>{{ transaction['fee'] }}</td>
	</tr>
	{% end %}
  </tbody>
</table>

{% end %}
