
[Desktop Entry]
Type=Application
Exec=sh -c "sleep 5; bitdust"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=BitDust
Comment=Run BitDust at startup
