Source: bitdust
Section: python
Priority: optional
Maintainer: Veselin Penev <veselin@bitdust.io>
Build-Depends: debconf, debhelper (>= 7), python-support, python (>=2.6)
Standards-Version: 3.8.4
Homepage: http://bitdust.io

Package: bitdust
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python, python-twisted, python-pyasn1, python-openssl, python-crypto, python-wxgtk2.8
Description: Distributed on-line storage.
 BitDust is a distributed on-line storage, in which only data owner
 has an access to his data.
 .
 This is a distributed network for on-line data storage and safe
 communications.
 Each participant of the network provides a portion of his hard drive
 for other users.
 In exchange, he is able to store his data on other users's machines.
 .
 The redundancy in data storage makes it so if someone loses your data,
 you can reconstruct what was lost and give it to someone else to hold.
 And all of this happens without you having to do a thing.
 .
 All data is encrypted before it leaves your computer
 with a key your computer generates. No one else can read your data.
 Recover data is only one way - download the necessary pieces
 from computers of other users and decrypt them with your private key.
 .
 BitDust - is written in Python using Twisted.
