{% extends "setup.html" %}

{% block page %}
<h1>enter your nickname</h1>

<form id="input-name-form" action="{{ request.path }}" method="post">
<table align=center>
 <tr>
  <td align=left>
   <ul>
    <li>use lower case letters <b>(a-z)</b>, digits <b>(0-9)</b>, underscore <b>(_)</b> and dash <b>(-)</b></li>
    <li>the nickname must be <b>from 3 to 20</b> characters and <b>begin</b> from a <b>letter</b></li>
    <li>see, it's just a nickname, nothing more</li>
   </ul>
  </td>
 </tr>
</table>
<table width="80%" align=center>
 <tr>
  <td align="center">
  <div class="form-group">
   <input type="text" 
       id="username"
       name="username" 
       class="form-control input-lg" 
       value="{{ username }}" 
       style="max-width: 250px;" 
       placeholder="{{ usernameplaceholder }}" />
  </div>
   <h3 align=center>private key size</h3>
  </td>
 </tr>
 <tr>
  <td align=center>
   <input id="radio2" type="radio" name="pksize" value="1024" {% if pksize == 1024 %} checked {% endif %} />
   1024
   &nbsp;&nbsp;&nbsp; 
   <input id="radio3" type="radio" name="pksize" value="2048" {% if pksize == 2048 %} checked {% endif %} />
   2048
   &nbsp;&nbsp;&nbsp; 
   <input id="radio4" type="radio" name="pksize" value="4096" {% if pksize == 4096 %} checked {% endif %} />
   4096
   <br/>
   <br/>
   <div class="next-prev-buttons">
     <input type="submit" class="btn btn-lg btn-success" 
            name="action" value="next" />
     <input type="submit" class="btn btn-lg btn-default" 
            name="action" value="back" />
   </div>
   <br/>
   <br/>
  </td>
 </tr>
 <tr>
  <td nowrap>
   <div style="height: 150px; overflow: auto;">
    <div id="progress">
     {% autoescape off %}
     {{ output }}
     {% endautoescape %}
    </div>
   </div>
  </td>
 </tr>
</table>
</form>
<br/>

<script>
    $( document ).ready(function() {
        $("#username").focus();
    }); 
</script>

{% endblock page %}