{% extends "setup.html" %}
{% block page %}
<table width=50% align=center>
 <tr>
  <td>
   <h1><font color=green>BitDust<br>is now configured!</font></h1>
   <p align=justify>
Now the program will be restarted.
In the new window you will see the main page of the user interface, and this window can be closed.
   </p>
   <br />
   <!--
   <form action="{{ request.path }}" method="get">
    <input type="submit" name="action" value="start" />
   </form>'
   -->
  </td>
 </tr>
</table>
<br />
{% endblock page %}