{% extends "setup.html" %}

{% block extra_head %}
  {{ block.super }}
  <script src="/asite/js/bootstrap.file-input.js"></script> 
{% endblock extra_head %}

{% block page %}

<h1>load private key</h1>

<div class="container">
<div class="row">

<div class="col-lg-12">
<p>
To <a target="_blank" href="https://bitdust.io/glossary.html#identity-recovery">restore</a> your Identity 
and get back to BitDust community you will have to provide your private key
and IDURL address.
</p>
</div>

<div class="form-group col-lg-12">
<form action="{{ request.path }}" method="post">
    <input type="hidden" name="action" value="paste-from-clipboard" />
    <input class="btn btn-info btn-lg" 
            type="submit" 
            name="submit" 
            value="paste from clipboard" 
            style="width:240px;" />
   </form>
</div>

<div class="form-group col-lg-12">
   <form action="{{ request.path }}" method="post" 
            enctype="multipart/form-data">
    <input type="hidden" name="action" value="load-from-file" />
    <input class="btn btn-info btn-lg" 
            title="load from file"    
            type="file" 
            name="keyfilename" 
            accept="text/csv"
            data-filename-placement="inside"  
            onchange="javascript:this.form.submit();" />
    
    <script>
        $('input[type=file]').bootstrapFileInput();
        $('.file-input-wrapper span').css({'width':'205px', 'display': 'block'});
    </script>    
             
   </form>
</div>


<form action="{{ request.path }}" method="post">
    <div class="form-group col-lg-12 text-center">
       <label for="idurl">IDURL:</label>
       <input type="text" 
              class="form-control"
              name="idurl"
              id="idurl"
              value="{{ idurl }}"
              style="max-width:600px; margin: 0 auto;"  />
       <style>
         #idurl { font-family: Consolas, Lucida Console, monospace; }
       </style>
    </div>
    <div class="form-group col-lg-12 text-center">
       <label for="privatekey">Private Key:</label>
       <textarea 
              class="form-control"
              name="keysrc"
              id="privatekey" 
              style="max-width:600px; margin: 0 auto;"
              rows=4 >{{ keysrc }}</textarea>
       <style>
         #privatekey { font-family: Consolas, Lucida Console, monospace; }
       </style>
    </div>
    <div id="message" class="col-lg-12">
     {% if output != "" %}
       {% autoescape off %}
       {{ output }}
       {% endautoescape %}
     {% endif %}
    </div>
    <div class="form-group col-lg-12">
      <div class="next-prev-buttons">
        <input class="form-group btn btn-lg btn-success"
                type="submit" name="action" value="next" />
        <input class="form-group btn btn-lg btn-default"
                type="submit" name="action" value="back" />
      </div>
    </div>
</form>
</div>

<br/>


{% endblock page %}