{% extends "setup.html" %}

{% block extra_head %}
  {{ block.super }}
  <script src="/asite/js/autoupdater.js"></script> 
{% endblock extra_head %}

{% block page %}
<h1 align=center>create a new identity</h1>
<div class="container">
 <div class="row">
   <div class="col-lg-12">
 
   <p align=justify>
File identity - is a publicly accessible file, 
so that every user may download your identity file 
and find out your contact information.

Identity file is digitally signed and that would change it 
is necessary to possess your
<a target="_blank" href="http://bitdust.io/security.html#private-key">Private Key</a>. 

The combination of these two keys provides 
reliable identification for any user in the BitDust Network.
    </p>
    </div>

<div class="col-lg-12">
   <div id="progress_wrap">
   <div id="progress">
    {% autoescape off %}
    {{ output }}
    {% endautoescape %}
   </div>
   </div>
</div>

<div class="col-lg-12">
  <div>
   {% if idurl != '' %}
   <h3><font color=green>Identification successfully passed!</font></h3>
   <a href="{{ idurl }}" target="_blank">{{ idurl }}</a>
   <br />
   <br />
   <form action="{{ request.path }}" method="get">
    <input type="submit" name="action" class="btn btn-lg btn-success" value="next" />
   </form>
   {% endif %}
  </div> 
</div>

<br />

<script>
    $(document).ready(function() {
        setRefreshCallback(function(data) {
            //debug.log('reload', data, data.length);
            if (data['state']) {
                if (data['state'] == 'REGISTER') {
                    $('#progress_wrap').load(location.href + " #progress");
                } else if (data['state'] == 'AUTHORIZED') {
                    $('#progress_wrap').load(location.href + " #progress");
                    location.reload();
                } else if (data['state'] == 'INPUT_NAME') {
                    location.reload();
                }
            }
        });
        startUpdater();
    }); 
</script>
{% endblock page %}