{% extends "setup.html" %}

{% block extra_head %}
  {{ block.super }}
  <script src="/asite/js/autoupdater.js"></script> 
{% endblock extra_head %}

{% block page %}

<h1>restore existing identity</h1>
<div class="container">
 <div class="row">
 
  <div class="col-lg-12">
   <p align=justify>
    BitDust software need to verify remote Identity file
    with your Private Key.
    If the <a target="_blank" href="http://bitdust.io/security.html#digital-signature">signature match</a>
    - your identity will be restored 
    and you will be able to communicate with other nodes. 
   </p>
  </div>
 
  {% if output != "" %}
  <div class="col-lg-12" style="height: 150px; overflow: auto;">
   <div id="progress_wrap" style="margin: 0px auto;">
   <div id="progress">
     {% autoescape off %}
     {{ output }}
     {% endautoescape %}
   </div>
   </div>
  </div>
  {% endif %} 
  
  <div class="col-lg-12">
   {% if idurl != '' %}
    <h3><font color=green>Identity file successfully restored!</font></h3>
    <a href="{{ idurl }}" target="_blank">{{ idurl }}</a>
    <br />
    <br />
    <div class="form-group col-lg-12">
    <form action="{{ request.path }}" method="get" >
     <input type="submit" class="btn btn-lg btn-success" 
            name="action" value="next" />
    </form>
    </div>
   {% endif %}
  </div>
  
<br />

<script>
    $(document).ready(function() {
        setRefreshCallback(function(data) {
            //debug.log('reload', data, data.length);
            if (data['state']) {
                if (data['state'] == 'RESTORED') {
                    $('#progress_wrap').load(location.href + " #progress");
                    location.reload();
                } else if (data['state'] == 'RECOVER') {
                    $('#progress_wrap').load(location.href + " #progress");
                } else if (data['state'] == 'LOAD_KEY') {
                    location.reload();
                }
            }
        });
        startUpdater();
    }); 
</script>
{% endblock page %}