{% extends "setup.html" %}
{% block page %}
<h1>needed / donated storage</h1>

<form action="{{ request.path }}" method="post">

<div class="container">
 <div class="row">

<!-- 
  <div class="col-lg-12">
   <p align=justify>
Here you need to set most important options to configure the distributed data storage
for you and other users, who will use your machine to keep their personal files.
   </p>
   <p align=justify>
Donate to other users at least twice as much as will be consumed - that you voluntarily
support the entire BitDust network and increase its overall stability.
   </p>
   <p align=justify>
Verify that the specified drive has enough free space to store data belonging to other users.
<br />
You also need additional space on your local hard drive for caching your own files, 
which fragments are distributed to remote machines on the network.
   </p>
  </div>
 -->
 
{% if mounts %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <table align=center cellspacing=2>
  <tr>
   {% for mount in mounts %}
    <td>
    <div class="btn btn-default" 
        style="display: inline-block; background-color: {{ mount.3 }};" >
     &nbsp;&nbsp;
     <font size=-2>
      <b>{{ mount.0 }}</b>
      <br>{{ mount.1 }} free / {{ mount.2 }} total
     </font>
     &nbsp;&nbsp;
    </div>
    </td>
   {% endfor %}
  </tr>
 </table>
 <br />
</div>
{% endif %}


<div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
    &nbsp;
</div>

<div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6">
   <label for="needed">
    megabytes needed:
   </label>
   <input type="text" class="form-control"
          id="needed" style="max-width:100px; margin: 0 auto;"
          name="needed" size="3" value="{{ needed }}" />
</div>

<div class="form-group col-lg-2 col-md-4 col-sm-4 col-xs-6">
   <label for="donated">
    megabytes donated:
   </label>
   <input type="text" class="form-control"
          id="donated" style="max-width:100px; margin: 0 auto;"
          name="donated" size="3" value="{{ donated }}" />
</div>

<div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-12">
   <label for="suppliers">
    number of suppliers:
   </label>
   <select class="form-control" id="suppliers"
           style="max-width:100px; margin: 0 auto;"
           name="suppliers" >
        <option {% if suppliers == "2" %} selected {% endif %} >2</option>
        <option {% if suppliers == "4" %} selected {% endif %} >4</option>
        <option {% if suppliers == "7" %} selected {% endif %} >7</option>
        <option disabled>13</option>
        <option disabled>18</option>
        <option disabled>26</option>
        <option disabled>64</option>
   </select>
</div>
    
<div class="col-lg-3 col-md-1 col-sm-12 col-xs-12">
    &nbsp;
</div>


<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <label for="customersdir">
       location for encrypted files stored for other users:
   </label>
   <input type="text" size=80 value="{{ customersdir }}" 
          name="customersdir" id="customersdir" class="form-control"
          style="max-width:600px; margin: 0 auto;" />
</div>

<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <label for="localbackupsdir">
       temporary files folder:
   </label>
   <input type="text" size=80 value="{{ localbackupsdir }}" 
          name="localbackupsdir" id="localbackupsdir" class="form-control" 
          style="max-width:600px; margin: 0 auto;"  />
</div>


<!-- 
<div class="form-group col-lg-12">
   <label for="restoredir">
       default:
   </label>
   <input type="text" size=80 value="{{ restoredir }}" 
          name="restoredir" id="restoredir" class="form-control"
          style="max-width:600px; margin: 0 auto;" />
</div>
-->

<div id="message" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   {% if output != "" %}
    {% autoescape off %}
    {{ output }}
    {% endautoescape %}
   {% endif %}
<br />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="next-prev-buttons">
     <input type="submit" class="btn btn-lg btn-success" 
            name="action" value="next" />
     <!--  <input type="submit" class="btn btn-lg btn-default" 
            name="action" value="back" />  -->
   </div>
</div>

</form>

<br />
{% endblock page %}
