{% extends "page.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
<table width=100% align=center cellspacing=10 cellpadding=0 border=0>
  <tr>
    <td width=33%>&nbsp;</td>
    <td width=33%><h1>my files</h1></td>
    <td width=33% align=right>&nbsp;</td>
  </tr>
</table>
<table width=100% align=center cellspacing=0 cellpadding=0 border=0>
  <tr>
    <td align=center width=10%>
      <a href="/main?action=diradd&showincluded=true" target="_opendir"><img src="/icons/folder-add.png"></a>
    </td>
    <td align=center width=10%>
      <a href="/main?action=diraddrecursive&showincluded=true" target="_opendir"><img src="/icons/folders-many-add.png"></a>
    </td>
    <td align=center width=10%><img src="/icons/folder-delete-gray.png"></td>
    <td align=center width=10%><img src="/icons/box-gray.png"></td>
    <td align=center width=10%><img src="/icons/folder-tree-backup-gray.png"></td>
    <td align=center width=10%><img src="/icons/box-delete-gray.png"></td>
    <td align=center width=10%><img src="/icons/select-gray.png"></td>
    <td align=center width=10%><img src="/icons/select-tree-gray.png"></td>
    <td align=center width=10%><img src="/icons/restore-gray.png"></td>
    <td align=center width=10%><img src="/icons/restoretodir-gray.png"></td>
  </tr>
  <tr valign=top>
    <td nowrap><font size=-2 color=gray>add folder<br>to the catalog</font></td>
    <td nowrap><font size=-2 color=gray>recursive add all<br>sub folders and files</font></td>
    <td nowrap><font size=-2 color=gray>remove from<br>catalog</font></td>
    <td nowrap><font size=-2 color=gray>backup to<br>remote peers</font></td>
    <td nowrap><font size=-2 color=gray>recursive backup<br>a directory</font></td>
    <td nowrap><font size=-2 color=gray>erase remote<br>data</font></td>
    <td nowrap><font size=-2 color=gray>select latest<br>versions</font></td>
    <td nowrap><font size=-2 color=gray>recursive select<br>latest versions</font></td>
    <td nowrap><font size=-2 color=gray>restore from<br>remote peers</font></td>
    <td nowrap><font size=-2 color=gray>restore to<br>given folder</font></td>
  </tr>
</table>
<hr width=100%>
<table width=98% align=left cellspacing=0 cellpadding=0 border=0>
    {% block backups %}
    {% endblock backups %}
</table>
<hr width=100%>
<br><br>
<table>
  <tr>
    <td>
      <div align=left>
        {% block neededspace %} {% endblock neededspace %}
        <br>
        {% block usedspace %} {% endblock usedspace %}
        <br>
        {% block usedspacepersupplier %} {% endblock usedspacepersupplier %}
      </div>
    </td>
  </tr>
</table>
<p><a href="/main?action=update">Request my suppliers to check my backups now</a></p>
<p><a href="/backupsettings?back=/main">Check the backup settings</a></p>
<br>
  {% placeholder "content" %}
{% endblock content %}


