{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}


<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">DRAGGINATOR CRYSTAL</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <button class="btn btn-primary" onclick="send('9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf', {{price }}, '', '')">
                    {{ _("D:Buy an egg for {} BIS").format(price) }}
                </button>
            </div>
        </div>

        <div class="card card-chart">
        <div class="card-header card-header-warning">
            {{_("D:Dragginator News")}}
        </div>
        <div class="card-body">

            <p class="card-category">{% raw message %}</p>
        </div>

    </div>


    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">{{ _("D:My eggs") }}</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">

                {% if len(bismuth['address']) > 4 %}

                {% if len(data) == 0 %}
                    {{_("D:You don't own any egg ;(")}}<br>

                    {% if eggdrop[0] == "registered" %}
                        {{_("D:And you are registered to the current eggdrop")}}
                    {% else %}
                        {{_("D:So you can register to the eggdrop!")}} <button class="btn btn-primary" onclick="send('9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf', 0, '', '{{eggdrop[1]}}')">{{_("D:Register")}}</button>
                    {% end %}

                {% else %}

                {{_("D:You own {} eggs").format(len(data)) }}

                <div class="card-body">
                  <div class="table-responsive">
                    <table id="egg_list" class="table table-hover">
                      <thead class="">
                        <tr>
                        <th>{{_("D:DNA")}}</th>
                        <th>{{_("D:Element")}}</th>
                        <th>{{_("D:Species")}}</th>
                        <th>{{_("D:Class")}}</th>

                        </tr>
                      </thead>
                      <tbody>
                          {% for egg in data %}
                              {% if egg["species"] in ["world cup 2018","special egg","Cup"] %}
                                <!-- {{ egg["species"] = "D:"+egg["species"] }} -->
                              {% end %}
                            <tr>
                                <td><a href="egg/{{egg['dna']}}">{{egg["dna"]}}</a></td>
                                <td>{{_("D:"+egg["type"] + " egg")}}</td>
                                <td>{{_(egg["species"])}}</td>
                                <td>{{_("D:"+egg["status"])}}</td>

                            </tr>
                            {% end %}
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>

                {% end %}

                {% else %}

                {{_("No Bismuth address, please create or load a wallet first.")}}

                {% end %}
            </div>
        </div>
    </div>

</div>



{% end %}
