{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}


<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title"><i class="fa fa-dna  "></i> {{ _("D:DNA:") }} {{ dna }} <span class="float-right"><a target="_blank" href="https://dragginator.com/egg.php?egg={{dna}}">{{_("D:See on Dragginator.com")}}</a></span></h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div>



                    {% if "9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf" == data["seller"] %}
                            <div class="ribbon"><span>{{ data["cost"]}} {{_("BIS")}}</span></div>
                        {% end %}
                    {% if "erased" == data["other"] %}
                            <div class="ribbonl"><span>{{_("D:Archive")}}</span></div>
                        {% end %}
                
                
                
                
                
                {% if data['status'] == "draggon" %}
                    <ul class="nav nav-tabs">
                        <li class="tab-selector active"><a data-toggle="tab" href="#draggon">{{_("D:draggon")}}</a></li>
                        <li class="tab-selector "><a data-toggle="tab" href="#egg">{{_("D:egg")}}</a></li>
                    </ul>
                
                    
                    
                    <div class="tab-content">
                        <div id="egg" class="tab-pane fade">
                            <img src="https://dragginator.com/data/eggs/{{ dna }}/egg.png" class="img-responsive" alt="Mountain View">
                        </div>
                        <div id="draggon" class="tab-pane fade in active show">
                            <img src="https://dragginator.com/{{ data['dragg_img'] }}" class="img-responsive" alt="Mountain View">
                        </div>
                    </div>
                    
                    
                {% else %}
                
                    <img src="https://dragginator.com/data/eggs/{{ dna }}/egg.png" class="img-responsive" alt="Mountain View">
                    
                {% end %}

                </div>

                <div class="alert alert-{{ data['color'] }}"><span>{{ data["type"] }} <span class="float-right"> {{_("D:Element")}}</span></span></div>
                <div class="alert alert-primary"><span>{{ _(data["species"]) }} <span class="float-right"> {{_("D:Species")}}</span></span></div>
                <div class="alert alert-primary"><span>{{ _(data["age"]) }} <span class="float-right"> {{_("D:Age")}}</span></span></div>
                <div class="alert alert-primary"><span>{{ _(data["rarity"]) }} <span class="float-right"> {{_("D:Rarity")}}</span></span></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            

            {% if data['owner'] == bismuth['address'] %}
            <div class="card-header card-header-success">
                <h4 class="card-title">{{ _("D:You own this egg") }}</h4>
            {% else %}
            <div class="card-header card-header-warning">
                <h4 class="card-title">{{ _("D:You don't own this egg") }}</h4>
            {% end %}


                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <canvas id="radar" height="50%" width="50%" style="background-color:#fff;border-radius:4px; padding:4px"></canvas>
                    </div>
                    <div class="col-lg-6 col-md-12">

                        {% if data['owner'] == bismuth['address'] %}
                        <button class="btn btn-primary " onclick="send($('#give').val(), 0, 'dragg:transfer', '{{dna}}')">{{ _("D:Send this egg to...")}}</button>
                        <input class="form-control" id="give" type="text" placeholder="{{_('Address')}}" />
                        <br><hr>
                        <button class="btn btn-primary " onclick="send('9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf', 0, 'dragg:sell', '{{dna}}:*:'+$('#price').val())">{{ _("D:Sell this egg for BIS")}}</button>
                        <input class="form-control" id="price" type="text" placeholder="{{_('D:Price')}}" />
                        <!-- {{_('D:Price')}} -->
                        
                        
                        {% if data["game_allowed"]%}
                            {% if  data["hunt_data"] is None  %}
                            <br><hr>
                            <button class="btn btn-primary " onclick="send('9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf', 0, 'dragg:hunt', '{{dna}}')">{{ _("D:Register this egg to the hunt")}}</button>

                            {% else %}
                                
                                {% import time %}
                                {% if data["hunt_data"]["status"] == "1" or time.time()-float(data["hunt_data"]["timestamp"]) > 86400 %}
                                    <br><hr>
                                    <button class="btn btn-primary " onclick="send('9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf', 0, 'dragg:hatch', '{{dna}}')">{{ _("D:This egg can hatch")}}</button>
                                {% elif data["hunt_data"]["status"] == "0" %}
                                    <br><hr>
                                    <a href="https://dragginator.com/help.php?help=6" target="_blank"><button class="btn btn-primary " >{{ _("D:You can find this egg")}}</button></a>
                                    
                                {% end %}
                            {% end %}
                            
                        {% end %}
                        
                        
                        {% if "9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf" == data["seller"] %}
                        <br><hr>
                        <button class="btn btn-primary " onclick="send('9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf', 0, 'dragg:unsell', '{{dna}}')">{{ _("D:Remove this egg from the marketplace")}}</button>

                        {% end %}

                        {% end %}

                        {% if "9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf" == data["seller"] and data['owner'] != bismuth['address']%}


                        <button class="btn btn-primary" onclick="send('9ba0f8ca03439a8b4222b256a5f56f4f563f6d83755f525992fa5daf', {{ data['cost']}}, 'dragg:buy', '{{ dna }}')">{{_("D:Buy for {} BIS").format(data["cost"])}}</button>
                        {% end %}
                        
                        
                        
                        
                        
                        

                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- div id="payment_window" class="modal" tabindex="-1" role="dialog"></div -->




</div>




{% end %}
