{% extends "base_ro.html" %}
<!-- "../../../../themes/material/base_ro.html" -->

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ handler.common_url('css/dataTables.min.css') }}">
    <style>
    input, td {
      background-color:#202940;
    }

    .ro-input {
      color:#bbb; width:100%;
      border:none;
      background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px);
      margin-bottom:6px;
    }
    </style>
{%end %}

{% block body %}

<div class="row">

    <div class="col-lg-6 col-md-12">
        <div class="data-image">
            <img src="/crystal/docshield/static/logo.png" width="100%" alt="Logo">
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">My Shielded Docs</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div id="detail" name="detail" st_yle="width:100%; height:270px;overflow:auto">
                    <table id="missionTable" width="100%">
                        <thead>
                        <tr>
                            <th>Block</th>
                            <th>Date/Time</th>
                            <th>Operation</th>
                            <th>Datafield</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // To be used by docshield.js
    var address = "{{bismuth['address']}}";
</script>

{% end %}

{% block footer %}
<!-- this goes after default includes, like jquery -->
<script src="{{ handler.common_url('js/plugins/jquery.dataTables.min.js') }}"></script>
<!-- no etag, versionning or helper yet -->
<script src="/crystal/docshield/static/docshield.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha256.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-hex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-latin1.min.js"></script>
{% end %}
