{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}


<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">{{ _('Crystal') }} : {{ _('Hypernode Watch') }} </h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                {{ _("WIP")}}
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">{{ _("About") }}</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <ul>
                    <li>{{ _('Version') }} {{ version }}</li>
                    <li><a href="https://hypernodes.bismuth.live/?page_id=163" target="_blank">Hypernodes official tracker</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>




{% end %}
