<!DOCTYPE html>
<html lang='ru'>
<head>
<title>
%(title)s
</title>
<link rel="stylesheet" type="text/css" href="%(styles)s">
</head>
<body>
<div id="content">
%(body)s
<br>
<br>
</div>
</body>
</html>