{% extends "base.html" %}

{% block body %}
		<table data-role="table" id="movie-table-custom" data-mode="reflow" class="movie-list ui-responsive">
		  <thead>
		    <tr style="font-size:.8em;">
		      <th data-priority="1">Date</th>
		      <th data-priority="2">txid</th>
		      <th data-priority="3">From</th>
		      <th data-priority="4">To</th>
		      <th data-priority="5">Amount</th>
		      <th data-priority="6">Fees</th>
		      <th data-priority="7">Data</th>

		    </tr>
		  </thead>
		  <tbody>
		    {% for transaction in transactions %}
			  <!-- module Transaction(transaction) -->
            <tr style="border-bottom:1px solid #808080;">
                <th class="ui-priority-secondary">{{ transaction['date'] }}</th>
                <th class="ui-priority-secondary">{{ transaction['txid'] }}</th>
                <td>{{ transaction['address'] }}</td>
	            <td>{{ transaction['recipient'] }}</td>
			    {% if float(transaction['amount']) < 0 %}
				<td><span style="color:#ff0000;">{{ transaction['amount'] }}</span></td>
			    {% else %}
				<td><span style="color:#00b200;">{{ transaction['amount'] }}</span></td>
			    {% end %}
	            <td>{{ transaction['fees'] }}</td>
            </tr>
			{% end %}
		  </tbody>
		</table>
		    
{% end %}