{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}

<div class="row">

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">About</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                   BIS <-> wBIS (BEP-20) Bridge Crystal for Bismuth Tornado Wallet<br/>
                   Version 1.0.5<br/>
                <b style="color:orange;">Please read the manual! See <a href="https://hypernodes.bismuth.live/?p=2863" style="color:orange;text-decoration:underline;" target="_blank">BSC Bridge Blog post</a></b>
                   <br/>&nbsp
               <!--    <br/>
                   GitHub Link: <a href='https://github.com/bismuthfoundation/TornadoWallet/tree/master/wallet/crystals/061_bscbridge'>https://github.com/bismuthfoundation/TornadoWallet/tree/master/wallet/crystals/061_bscbridge</a><br/>
                Blog: <b>TODO</b>
                   <br/><br/> -->
                   <center>
                       <img src="/crystal/bscbridge/static/logo.png" alt="The logo will appear after restarting Tornado." style="width:98%; max-width:600px; margin-bottom:20px;">
                   </center>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Menu</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <!-- form action='page1'>
                    <input type="submit" class="btn btn-success" value="Example Commands">
                </form -->
                <a class="btn btn-success" href='swaps'><i class="material-icons">receipt</i> Swaps</a> View pending and latest BEP swaps<br />
                &nbsp;<br />
                <a class="btn btn-info" href='to_eth1'><i class="material-icons">arrow_forward</i> BIS->wBIS 1/2</a> Send native $BIS to the BSC bridge<br />
                <a class="btn btn-primary" href='to_eth2'><i class="material-icons">arrow_forward</i> BIS->wBIS 2/2</a> Mint your wBIS BEP20 on BSC<br />
                &nbsp;<br />
                <a class="btn btn-info" href='from_eth1'><i class="material-icons">arrow_back</i> wBIS->BIS</a> Burn your wBIS BEP20 on BSC and get native BIS<br />

                <br />
                &nbsp;<br />
                A fixed fees of $BIS {{ bismuth['extra']['bis_fixed_fees'] }} applies to every swap. wBIS are proxy minted on BSC chain by the end user.
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">wBIS BEP-20 Token</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="row">
                     <div class="col-lg-4 col-md-12">
                        <img src="/crystal/bscbridge/static/wbis500x500b.png" alt="The logo will appear after restarting Tornado." class="float-left" style="width:100%;max-width:150px;"/>
                     </div>
                     <div class="col-lg-8 col-md-12">
                        <b>Name:</b> Wrapped BIS<br />
                        <b>Symbol:</b> wBIS<br />
                        <b>Decimals:</b> 8<br />
                        <b>Address:</b> {{ bismuth['extra']['eth_sc_address'] }}<br />
                         <a class="btn btn-success" href='#' id="addmeta"><i class="material-icons">add_circle</i> Add to MetaMask</a> <a class="btn btn-info" target="_blank" href="{{ bismuth['extra']['eth_explorer'] }}/token/{{ bismuth['extra']['eth_sc_address'] }}"><i class="material-icons">open_in_new</i> View on Bscscan</a>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Overview</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <b>Circulating BIS Supply:</b> <span id="circulating_bis">{{ bismuth['extra']['circulating'] }}</span><br />
                <b>My BIS balance:</b> <span id="my_bis">{{ escape(bismuth['balance']) }}&nbsp;$BIS</span><br />
                &nbsp;<br />
                <b>Total Wrapped BIS (BEP-20):</b> <span id="wbis_total"></span><br />
                <b>My BNB Address:</b> <span id="my_ethaddress"></span><br />
                <b>My wBIS balance (BEP-20):</b> <span id="wbis_amount"></span><br />
                &nbsp;<br />
                <b>BSC Contract Address:</b> <a href="https://bscscan.com/address/{{ bismuth['extra']['eth_sc_address'] }}" target="_blank">{{ bismuth['extra']['eth_sc_address'] }}</a><br />
                <b>BIS BSC Bridge Address:</b> <a href="http://bismuth.online/search?quicksearch={{ bismuth['extra']['ethbridge_address'] }}" target="_blank">{{ bismuth['extra']['ethbridge_address'] }}</a><br />
                <b>BIS BSC Oracle Address:</b> <a href="http://bismuth.online/search?quicksearch={{ bismuth['extra']['ethoracle_address'] }}" target="_blank">{{ bismuth['extra']['ethoracle_address'] }}</a><br />
            </div>
        </div>
    </div>

</div>



<div class="row">

        <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Legalese</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <h3>Legal</h3>
                The bridge and oracles are operated by members of the Bismuth team.<br />
                The BIS on-chain data is the reference used.<br/>
                The bridge is not custodial. Its function is to swap native BIS to BSC wBIS as well as BSC wBIS to BIS.<br/>
                This is just a relocation from one chain to another and the change rate is 1:1 at all time, minus fixed operation fees.<br/>
                It's not an exchange either. There is no order book, no market.<br />
                &nbsp;<br />
                Due to its decentralized and distributed nature, the operation of the Bismuth Network, Bismuth Bridge and Bismuth BSC Oracle does not fall under the legislation of the USA nor the EEC.<br/>
                End users local legislation may apply. It's up to the user to check whether usage of the service(s) are compliant to their local legislation.

                <h3>Fees</h3>
                A fixed fees of $BIS {{ bismuth['extra']['bis_fixed_fees'] }} applies to every swap. wBIS are BEP-20, proxy minted on BSC chain by the end user.
            </div>
        </div>
    </div>



</div>

<br/>

{% end %}
