{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}



<div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">Transactions</h4>
                </div>
            </div>
            <div class="card-body table-responsive">
                Showing BIS <> BSC Bridge transactions for native BIS address <b>{{ data['bis_address'] }}</b><br/>
                <b style="color:orange;">Please read the manual! See <a href="https://hypernodes.bismuth.live/?p=2863" style="color:orange;text-decoration:underline;" target="_blank">BSC Bridge Blog post</a></b>
                <b style="">The whole process is semi-automated, decentralized and secure.</b> It relies on events BSC and BIS chain, Oracle and secure off-line signing.<br/>
                We prioritized safety and scalability before response time.<b style="color:orange;"> Your swap therefore can need some time to be fully processed, but eventually will be.</b><br />
                In case of doubt, use the BSC and BIS explorers to make sure your transaction is present. If it is, all is good, <b>just be patient</b>.<br />
                If you see nothing after 1 hour, then you can contact the team via our Discord.
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-info">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">Bis -> wBIS<i class="material-icons" title="{{ _('These transactions - if valid - are waiting for confirmations or a signature, just wait')}}">info</i>
                  </h4>
                </div>
            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover">
                    <thead>
                        <th>{{ _("Transaction Date")}}</th>
                        <th>{{ _("Block")}}</th>
                        <th class="center">{{ _("Txid/TxidHash")}}</th>
                        <th class="amount">{{ _("Amount (BIS)")}}</th>
                        <th class="amount">{{ _("Confs")}}</th>
                    </thead>
                    <tbody>

                    {% for hash, transaction in data['hashes'].items() %}
                        {% if  transaction['direction'] == 1 and transaction['status'] < 1 %}
                            <tr style="border-top:2px solid #666666;">
                                <td>
                                    <b>{%raw datetime.datetime.utcfromtimestamp(transaction['ts1']).strftime('%Y-%m-%d %H:%M:%S').replace(" ", "&nbsp;") %}</b>
                                </td>
                                <td>
                                    {{ transaction['block1'] }}
                                </td>
                                <td class="center">
                                    <i class="material-icons copy-title-to-clipboard-base"
                                                      title="{{ transaction['txid1'] }}">description</i>
                                    <i class="material-icons copy-title-to-clipboard-base"
                                                      title="{{ hash }}">file_present</i>

                                </td>
                                <td class="amount "> {{ transaction['amount'] }}</td>
                                <td class="amount "> {{ bismuth['server_status']['blocks'] - transaction['block1'] }}/{{ bismuth['extra']['bis_confs'] }}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text">From BIS <span class="text-success ">{{ transaction['bis_address'] }}</span> <br/>To BSC <span class="text-info ">{{ transaction['eth_address'] }}</span></td>
                            </tr>
                        {% end %}
                    {% end %}
                    <tr id="copied" style="display:none;">
                        <td colspan="3">
                            <button type="button" class="btn btn-success" >
                                        <i class="material-icons">done_outline</i> {{ _('Copied to Clipboard') }}
                            </button>
                        </td>
                        <td colspan="2"></td>
                    </tr>

                    <!-- pagination -->
                    <!-- tr>
                        <td colspan="3"></td>
                        <td colspan="2">
                            <form method="get" action="/transactions/">
                            <button type="submit" class="btn btn-success" name="start" value="0" {_{ handler.disabled_if(offset==0) }} ><i class="material-icons">first_page</i></button>
                            <button type="submit" class="btn btn-info" name="start" value="{_{ offset - count }}" {_{ handler.disabled_if(offset==0) }}><i class="material-icons">chevron_left</i> -{_{ count }}</button>
                            <button type="button" class="btn btn-primary" disabled>{_{ offset }}</button>
                            <button type="submit" class="btn btn-info" name="start" value="{_{ offset + count }}">+{_{ count }} <i class="material-icons">chevron_right</i></button>
                            </form>
                        </td>

                    </tr -->

                    </tbody>
                </table>
                Your BIS transaction will need to mature, then wait for offline signing. <b>Please be patient</b>.<br />
                 You can check the status of your BIS transactions anytime on the <a href="http://bismuth.online/search?quicksearch={{ data['bis_address'] }}" target="_blank">Bismuth Explorer</a>.
                <br />
            <a class="btn btn-info" href='to_eth1'><i class="material-icons">arrow_forward</i> BIS->wBIS 1/2</a> Send native $BIS to the BSC bridge<br />

            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-success">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">wBis -> BIS<i class="material-icons" title="{{ _('These transactions - if valid - are waiting for confirmations or a signature, just wait')}}">info</i></h4>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>{{ _("Oracle Submit Date")}}</th>
                        <th>{{ _("BSC Block")}}</th>
                        <th class="center">{{ _("BSC Txid")}}</th>
                        <th class="amount">{{ _("Amount (wBIS)")}}</th>
                        <th class="amount">{{ _("Confs")}}</th>
                    </thead>
                    <tbody>

                    {% for hash, transaction in data['hashes'].items() %}
                        {% if transaction['direction'] == 2 and transaction['status'] < 1 %}
                        <tr style="border-top:2px solid #666666;">
                            <td>
                                <b>{%raw datetime.datetime.utcfromtimestamp(transaction['ts1']).strftime('%Y-%m-%d %H:%M:%S').replace(" ", "&nbsp;") %}</b>
                            </td>
                            <td>
                                {{ transaction['block1'] }}
                            </td>
                            <td class="center">
                                <i class="material-icons copy-title-to-clipboard-base"
                                   title="{{ transaction['eth_txid'] }}">description</i>
                            </td>
                            <td class="amount "> {{ transaction['amount'] }}</td>
                            <td class="amount "> {{ bismuth['extra']['eth_height'] - transaction['block1'] }}/{{ bismuth['extra']['eth_confs'] }}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text">From BSC <span class="text-success ">{{ transaction['eth_address'] }}</span> <br/>To BIS <span class="text-info ">{{ transaction['bis_address'] }}</span></td>
                        </tr>
                        {% end %}
                    {% end %}

                    </tbody>
                </table>
                Your BSC burn transaction can take a while to be forwarded by the Oracle, <b>please be patient!</b><br />
                You can check the status of your BSC transactions anytime on <a href="https://bscscan.com/" target="_blank">Bscscan.com</a>.
                <br />
    <a class="btn btn-info" href='from_eth1'><i class="material-icons">arrow_back</i> wBIS->BIS 1/2</a> Burn your wBIS BEP20 on BSC<br />
            </div>
        </div>
    </div>

     <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                  <h4 class="card-title" style="color:#fff">Swaps</h4>
                </div>
            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover">
                    <thead>
                        <th>{{ _("Tx Date")}}<br/>{{ _("Processed Date")}}</th>
                        <th class="amount">{{ _("BIS")}}<br/>(Fees)</th>
                        <th>{{ _("BIS Address")}}<br/>&nbsp;</th>
                        <th><i class="material-icons" alt="Bridge direction">sync_alt</i></th>
                        <th>{{ _("BSC Address")}}<br/>&nbsp;</th>
                    </thead>
                    <tbody>

                    {% for hash, swap in sorted(data['hashes'].items(), key=lambda x: -x[1]["ts1"]) %}
                        {% if swap["status"] > 0 %}
                            <tr style="border-top:2px solid #666666;">
                                <td>
                                    <b>{%raw datetime.datetime.utcfromtimestamp(swap['ts1']).strftime('%Y-%m-%d %H:%M:%S').replace(" ", "&nbsp;") %}</b>
                                </td>
                                <td class="amount "> {{ swap["amount_after_fees"] }}</td>
                                <td class="text-info">
                                    <i class="material-icons copy-title-to-clipboard-base"
                                                      title="{{ swap['txid1'] }}">description</i>
                                    {% if swap["direction"] == 1 %}
                                    <i class="material-icons copy-title-to-clipboard-base"
                                                      title="{{ hash }}">file_present</i>
                                    {% end %}
                                    {{ swap["bis_address"] }}</td>
                                <td class=" ">{% if swap["direction"] == 1 %}<i class="material-icons text-info">east</i>{% else %}<i class="material-icons text-success">west</i>{% end %}</td>
                                <td class="text-success">
                                    {% if swap['eth_txid'] != '' %}
                                    <i class="material-icons copy-title-to-clipboard-base" title="{{ swap['eth_txid'] }}">description</i>
                                    {% end %}
                                    {{ swap["eth_address"] }}</td>
                            </tr>
                            <tr >
                                <td>
                                    <b>{%raw datetime.datetime.utcfromtimestamp(swap['ts_signature']).strftime('%Y-%m-%d %H:%M:%S').replace(" ", "&nbsp;") %}</b>
                                </td>
                                <td class="amount ">({{ float(swap["amount"]) - float(swap["amount_after_fees"]) }})</td>
                                <td class="center">
                                    {% if swap["direction"] == 2 %}
                                            <a href="https://bismuth.online/details?mydetail={{ swap['txid1'] }}" target="_blank" class="text-success" style="text-decoration: underline;"><i class="material-icons" style="width:24px;">open_in_new</i>&nbsp;See on explorer</a>
                                    {% end %}
                                </td>
                                {% if swap["direction"] == 1 %}
                                <!-- if bis -> wbis -->

                                    <td class=" ">
                                        {% if swap["status"] == 2 %}
                                            <i class="material-icons text-success">check</i>
                                        {% else %}
                                            <i class="material-icons text-warning">hourglass_top</i>
                                            <i title="{{ swap['mint_signature'] }}" class="material-icons text-warning copy-title-to-clipboard-base">manage_accounts</i>
                                        {% end %}
                                    </td>
                                    <td class="" >
                                        {% if swap["status"] == 2 %}
                                            &nbsp;
                                        {% else %}
                                            <a href="to_eth2/?eth_address={{ swap['eth_address'] }}&amount={{ swap['amount_after_fees'] }}&txidhash=0x{{ hash }}&auth={{ swap['mint_signature'] }}" class="text-warning" style="text-decoration: underline;"><i class="material-icons" style="width:24px;">settings_sugg</i>&nbsp;Proxy Mint your wBIS</a>
                                        {% end %}
                                    </td>
                                {% else %}
                                    <td class=" ">

                                    </td>
                                    <td class="" >

                                    </td>

                                {% end %}
                            </tr>
                        {% end %}
                    {% end %}

                    </tbody>
                </table>


        </div>
    </div>
            </div>
</div>

<br/>

{% end %}
