{% extends "base.html" %}
<!-- "../../../../themes/material/base.html" -->

{% block body %}

<div class="row">

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">About</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                   Hello World Crystal for Bismuth's Tornado Wallet<br/>
                   Version 1.0.0<br/>
                   <br/>
                   GitHub Link: <a href='https://github.com/bismuthfoundation/TornadoWallet/tree/master/wallet/crystals/101_helloworld'>https://github.com/bismuthfoundation/TornadoWallet/tree/master/wallet/crystals/101_helloworld</a><br/>
                   Blog: <a href='https://hypernodes.bismuth.live/?p=1320'>https://hypernodes.bismuth.live/?p=1320</a><br/>
                   <br/><br/>
                   <center>
                       <img src="/crystal/helloworld/static/logo.png" alt="The logo will appear after restarting Tornado."  style="width:98%; max-width:600px;">
                   </center>
               </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Menu</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                Hello World:<br/>
                <form action='page1'>
                    <input type="submit" class="btn btn-success" value="Example Commands">
                </form>
            </div>
        </div>
    </div>

</div>

<br/>

{% end %}
